/* styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #ea5959;
}

.horizontal-line {
  display: block;
  height: 700px;
  /* border: 0;
  border-top: 1px solid #dd1919; */
  margin: 1em 0;
  padding: 0;
}

.completed {
  text-decoration: line-through;
  color: #b5b5b5;
}
